language: python

python:
  - "2.7"
  
services:
  - docker

branches:
    only:
        - master
  
notifications:
  email: false

before_install:
- docker pull zimmerman/phaseflow-fenics:latest

group: deprecated-2017Q2

script:
- docker run --rm -P -v `pwd`:/home/fenics/shared -w /home/fenics/shared zimmerman/phaseflow-fenics:latest "mpirun -n 4 python -m pytest -k '(not debug) and (not _1d)'" 
- docker run --rm -P -v `pwd`:/home/fenics/shared -w /home/fenics/shared zimmerman/phaseflow-fenics:latest "mpirun -n 4 python -m pytest -k '_1d and (not debug)'" 
